@fontSmall: 12px;
@fontLarge: 16px;

@padding: 20px;

@colorBorder: rgba(0, 0, 0, 0.1); // #DDDDDD
@colorBorderHover: rgba(0, 0, 0, 0.2); // #C2C2C2
@colorPrimary: rgba(75, 81, 85, 1); // #4B5155
@colorSecondary: rgba(75, 81, 85, 0.6); // #939799
@colorAlternative: #FFFFFF;

@transition: 300ms ease-in-out;

.team-card {
	&--standard {
		@width: 204px;

		.card();
		.team();
		.hover();
		.overrides();
		.imageOverrides();
	}

	&--large {
		@width: 280px;

		.card();
		.team();
		.hover();
		.overrides();
		.imageOverrides();
	}
}

.card() {
	width: @width;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid @colorBorder;
	border-radius: 2px;
	margin: 20px auto;
	box-shadow: none;
	transition: border @transition, box-shadow @transition;
}

.hover() {
	&:hover {
		border: 1px solid @colorBorderHover;
		box-shadow: 0 4px 8px 0 @colorBorder;
		transition: border @transition, box-shadow @transition;
	}
}

.team() {
	.team-card {
		&__image {
			&--fill {
				margin: 0;
				border-radius: 0;
				overflow: hidden;
				height: @width;
				width: @width;
				
				img {
					display: block;
					width: 100%;
					height: 100%;
				}
			}

			&--round {
				border-radius: (@width / 2);
				height: @width - (@padding * 2);
				width: @width - (@padding * 2);
			    overflow: hidden;
			    margin: @padding @padding 0;
				
				img {
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}

		&__content {
			padding: @padding 0 (@padding / 2);
			margin: 0 @padding;
			text-align: center;

			.name {
				font-size: @fontLarge;
				color: @colorPrimary;
				padding: (@padding / 4) 0;
			}

			.title {
				font-size: @fontSmall;
				color: @colorSecondary;
				text-transform: uppercase;
				padding: (@padding / 4) 0;
			}
		}
	}
}

// override Weebly default style
.overrides() {
	.paragraph {
		margin: 0 !important;
		line-height: inherit;
	}
}

// override Weebly default style
.imageOverrides() {
	.wsite-image {
		padding: 0px !important;
	}

	.pic {
		// allows for scaling when resizing image to be circular
		.inside, .element-box, .element-box-contents, .element, .wsite-image, .ui-wrapper, a {
			height: @width !important;
			width: 100% !important;
		}

		// fix on mobile
		.platform-element-child, .wsite-image {
			margin: 0!important;
		}
	}
}